{% extends 'base.html' %}

{% block content %}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Amicus</h1>
            <h3>{{ _('Vet Practice Management Software Made Easy.') }}</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">{{ _('Find Out More') }}</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ _('What does the future of vet management software look like?') }}</h2>
                    <br>
                    <p class="lead">{{ _('Fast. Dependable. Secure. Easy to use.')}} <br><br>{{ _('The best part? The future is here.') }}<br><br>{{ _('Presenting the Amicus Vet Practice Management Software App.')}} </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="why-choose" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>{{ _('Why Choose Amicus?') }}</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>{{ _('In The Cloud') }}</strong>
                                </h4>
                                <p>{{ _('Amicus runs in the cloud. No more worrying about backups. Access your data from anywhere.') }}</p>
                                <!--a href="#" class="btn btn-light">{{ _('Learn More') }}</a-->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>{{ _('Intuitive Interface') }}</strong>
                                </h4>
                                <p>{{ _('No more hours of training just to find and use basic functionalities. You\'ll be ready to use Amicus from day 1.') }}</p>
                                <!--a href="#" class="btn btn-light">{{ _('Learn More') }}</a-->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>{{ _('Innovative') }}</strong>
                                </h4>
                                <p>{{ _('We use cutting-edge technology to bring you a lightning-fast, responsive web application.') }}</p>
                                <!--a href="#" class="btn btn-light">{{ _('Learn More') }}</a-->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>{{ _('Secure') }}</strong>
                                </h4>
                                <p>{{ _('All of your data is stored in our professionally-managed data warehouses around the world.') }}</p>
                                <!--a href="#" class="btn btn-light">{{ _('Learn More') }}</a-->
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside id='features' class="callout">
        <div class="text-vertical-center">
            <h1>{{ _('Our Features') }}</h1>
        </div>
    </aside>
    <!-- Features List -->
    <!-- Row -->
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <div class="text-center pad-botom">

                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                    <h1>{{ _('Our Features') }}</h1>
                    <br>
                </div>
                    <!--h4>
                       Lrem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </h4-->


                <div class="col-md-4 col-sm-4 col-xs-12 feature-col">
                    <i class="fa fa-calendar  fa-5x"></i>
                    <h3>{{ _('Appointment Scheduling') }}</h3>
                    <p>
                        {{ _('Easily schedule appointments, view existing appointments, and manage multiple vets\' schedules.') }}
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 feature-col">
                    <i class="fa fa-paw fa-5x"></i>
                    <h3>{{ _('Manage Patient Histories') }}</h3>
                    <p>
                        {{ _('Use electronic medical records to easily summarize your patient histories.') }}
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 feature-col">
                    <i class="fa fa-envelope-o  fa-5x"></i>
                    <h3>{{ _('Manage Your Communications') }}</h3>
                    <p>
                        {{ _('Send out mailing lists, appointment reminders, and more.') }}
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 feature-col">
                    <i class="fa fa-cloud-upload  fa-5x"></i>
                    <h3>{{ _('Worry-free Data') }}</h3>
                    <p>
                        {{ _('Your data is safe in our professionally-managed data centers. Backups occur automatically, so you can focus your time and energy on what\'s important: your patients and their guardians. You can also access your data from any device, at any place, at any time.') }}
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 feature-col">
                    <i class="fa fa-smile-o  fa-5x"></i>
                    <h3>{{ _('No Long Staff Training Sessions') }}</h3>
                    <p>
                        {{ _('Our product doesn\'t ship with a 200-page long manual. Why? It\'s easy to use. We provide helpful tips and tricks throughout your onboarding process, as well as an intuitive interface, so that you\'re able to hit the ground running from Day 1.') }}
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 feature-col">
                    <i class="fa fa-check-square  fa-5x"></i>
                    <h3>{{ _('Easily Check Patients In') }}</h3>
                    <p>
                        {{ _('You can check patients in with just 3 clicks. With an easy-to-use interface, you can either manage check-ins yourself, or set up a tablet and have patients check themselves in using our mobile-compatible application.') }}
                    </p>
                </div>


            </div>
        </div>
        <!-- ./features -->
    </div>
    <!-- ROW END -->
    <br>

    <!-- Call to Action -->
    <aside id='call-to-action' class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>{{ _('Try out Amicus using our free, 15-day trial.') }}</h1>
                    <a id='button_sign_up' href="http://cloud.amicus-vet.net" class="btn btn-lg btn-light ">{{ _('Start Using Amicus Now!') }}</a>
                    <!--a href="#" class="btn btn-lg btn-dark">Look at Me!</a-->
                </div>
            </div>
        </div>
    </aside>
    <!-- ./ Call to Action -->

    <!-- Special Offer -->
    <section id="special-offer" class="special-offer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <h2>{{ _('Special Offer - Limited Time Only!') }}</h2>
                    <br>
                    <p class="lead">{{ _('Sign up for our mailing list and you could win a free year of Vet Practice Management Software!')}} <br><br>
                        <a href="/sign_up/" class="btn btn-lg btn-success">
                        {{ _('Sign Up Now!') }}</a></p>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Modal -->

       <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                <h1 class="modal-title text-center" id="myModalLabel">Limited Time Offer</h1>
                </div>
                <div class="modal-body">
                    <h3 class='text-center'>Sign up for our mailing list and you could win a free year's subscription to Amicus Vet Management Software!</h3>
                    <br>
                    <br>
                    <a type="button" class="btn btn-lg btn-success btn-block" href='/sign_up/'>I'm in!</a>
                </div>
                <!--div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div-->
        </div>
      </div>
    </div>
    <!-- ./Modal -->


{% endblock %}

{% block endscripts %}
<script>
var show = function(){
    $('#basicModal').modal('show');
};

$(window).load(function(){
    var timer = window.setTimeout(show,5000);
});
</script>

{% endblock %}